#{{:db/id #db/id[:db.part/db]
   :db/ident :location/postCode
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :location/description
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db.install/_attribute :db.part/db}}
