#{{:db/id #db/id[:db.part/db]
   :db/ident :user/name
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/email
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db/unique :db.unique/identity
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/username
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db/unique :db.unique/identity
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/password
   :db/cardinality :db.cardinality/one
   :db/valueType :db.type/string
   :db.install/_attribute :db.part/db}}
